
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h1>Welcome to Sellar Champ</h1><br>
    <h3>Admin Panel</h3><br>
    <p><%= link_to  "Show Products", products_path %></p><br>
    <p><%= link_to  "Create Product", new_product_path %></p><br>
    <p><%= link_to  "Sign Out", destroy_user_session_path, method: :delete %></p><br>
  <% else %>
    <h1>Welcome to Sellar Champ <%= current_user.name %></h1><br>
    <p><%= link_to  "Show Products", products_path %></p><br>
    <p><%= link_to  "Sign Out", destroy_user_session_path, method: :delete %></p><br>
  <% end %>
<% else %>
  <h1>Welcome to Sellar Champ</h1><br>
  <p><%= link_to  "Create Account", new_user_registration_path %><br>
  <p><%= link_to  "Sign In", new_user_session_path %><br>
<% end %>







































<%
=begin%>
 <h3>Welcome</h3>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h3>You've signed up. <%= link_to 'Download a free book', thankyou_path %></h3>
  <% end %>
<% else %>
  <h3>Sign up and download a free book.</h3>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-large' %>
<% end %> 
<%
=end%>

