
<h1>Add Product Variations</h1>

<%= form_for @product do |form| %>
  <% if @product.errors.any? %>
    <div id= "error_explanation"> 
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        from creating the product!:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id= "field">
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
  </div>

  <div id= "field">
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>
  </div>

  <div id= "field">
    <p>
      <%= form.label :sku %><br>
      <%= form.text_field :sku %>
    </p>
  </div>

  <div id= "field">
    <p>
      <%= form.label :product_type %><br>
      <%= form.text_field :product_type_id, value: @product.product_type&.name %>
    </p>
  </div>

  <p><b>Add Product Variant</b></p>

  <div id= "field">
    <%= form.fields_for :variants do |vf| %>
      
      <%= render 'variant_fields', vf: vf %>%

      <%= vf.fields_for :options do |of| %>
        <p>
          <%= of.label :option_type %><br>
          <%= of.select :option_type, options_for_select(@supported_option_types) %>
        </p>

        <p>
          <%= of.label :option_value %><br>
          <%= of.select :option_value, options_for_select(@options.collect(&:option_value).flatten) %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div id= "actions">
    <p>
      <%= form.submit :SaveProduct %><br>
    </p>
  </div>
  
<% end %>