
<h1><%= t('product.add_variations') %></h1>

<%= form_for @product do |form| %>
  <% if @product.errors.any? %>
    <div id= "error_explanation"> 
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        from creating the product!:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id= "field">
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
  </div>

  <div id= "field">
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>
  </div>

  <div id= "field">
    <p>
      <%= form.label :sku %><br>
      <%= form.text_field :sku %>
    </p>
  </div>

  <div id= "field">
    <p>
      <%= form.label :product_type %><br>
      <%= form.collection_select :product_type_id, ProductType.all, :id, :name %>
    </p>
  </div>

  <p><b><%= t('product.add_variant') %></b></p>

  <div id= "field">
    <%= form.fields_for :variants do |vf| %>
      
      <%= render 'variants/variant_fields', vf: vf %>

    <% end %>
  </div>

  <p><b><%= t('variant.add_option') %></b></p>

  <div id= "field">
    <%= form.fields_for :options do |of| %>
      
      <%= render 'options/option_fields', of: of %>

    <% end %>
  </div>

  <div id= "actions">
    <p>
      <%= form.submit :SaveProduct %><br>
    </p>
  </div>
  
<% end %>