
<h1>Add Product Variations</h1>

<%= form_for @product do |form| %>
  <% if @product.errors.any? %>
    <h2>
      <%= pluralize(@product.errors.count, "error") %> prohibited
      from creating the product!:
    </h2>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :sku %><br>
    <%= form.text_field :sku %>
  </p>

  <p>
    <%= form.label :product_type %><br>
    <%= form.text_field :product_type_id, value: @product.product_type&.name %>
  </p>

  <p><b>Add Product Variant</b></p>

  <%= form.fields_for :variants do |vf| %>
    <p>
      <%= vf.label :sku %><br>
      <%= vf.collection_select :id, @product&.variants.all, :id, :sku %>
    </p>

    <p>
      <%= vf.label :price %><br>
      <%= vf.collection_select :id, @product&.variants.all, :id, :price %>
    </p>

    <p>
      <%= vf.label :quantity %><br>
      <%= vf.collection_select :id, @product&.variants.all, :id, :quantity %>
    </p>

    <%= vf.fields_for :options do |of| %>
      <p>
        <%= of.label :option_type %><br>
        <%= of.select :option_type, options_for_select(@supported_option_types) %>
      </p>

      <p>
        <%= of.label :option_value %><br>
        <%= of.select :option_value, options_for_select(@options.collect(&:option_value).flatten) %>
      </p>
    <% end %>
  <% end %>

  <p>
    <%= form.submit :SaveProduct %><br>
  </p>
<% end %>